<ion-header>
    <ion-toolbar>
        <ion-title>
            Map Starter
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <l-map-wrapper>
        <l-map
                tileLayerUrl='{{selectedTileLayer.url}}'
                iconUrl='{{iconUrl}}'
                locations='{{locations}}'
                center='{{center}}'
                zoom='{{zoom}}'
                minZoom='{{minZoom}}'
                maxZoom='{{maxZoom}}'>
        </l-map>
    </l-map-wrapper>
</ion-content>
